{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Glapped</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
        <div class = "hero">
            <nav>
                <a href="/">
                    <img src="{% static 'bitmap2.png' %}" class="logo" alt="Home">
                </a>
                <ul>
                    <form action="{% url 'search' %}" method="GET" class="search">
                        <button type = submit class="search-button material-symbols-outlined search-icon">search</button>
                        <input class="search-input" type="search" name = 'q' placeholder="Search">
                    </form>
                </ul>
                <div>
                    {% if user.is_authenticated %}
                    <a href="/account" class="login-button">Account</a>
                    <a href ="/leaderboard" class="login-button">Leaderboard</a>
                    <a href ="/createlisting" class="bgb-button">+</a>
                    {% else %}
                    <a href="/login" class="login-button">Log In</a>
                    {% endif %}
                </div>
            </nav>
            <div>
                {% if user.is_authenticated %}
                    {% block content %} {% endblock %}
                {% else %}
                <div class="homepage">
                    <h1 class="animated">Fashion on<br> Campus</h1>
                    <p class="animated">Buy and sell second hand fashion locally on campus with Glapped.</p>
                    <a href="/register" class="bgb-button animated">Join Now</a>
                </div>
                <img src="{% static 'bitmap2.png' %}" class="homepage-img animated">
                {% endif %}
            </div>
            
        </div>
    </head>
    <body>
        <footer class="footer">
            <p>&copy; 2025 Glapped | All Rights Reserved</p>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="bgb-button">Logout</button>
            </form>
            {% endif %}
        </footer>
    </body>
</html>