{% extends "base.html" %}
{% block title %} My Account {% endblock %}
{% block content %}

<div class="account-container">
    <h2>Welcome, {{ user.username }}!</h2>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Points:</strong> {{ user.userprofile.points }}</p>
    <ul>
        {% if activeProducts %}
            <h2> Active listings: </h2>
            {% for product in activeProducts %}
                <a href="/{{ product.id }}/">
                    <div class="product-preview" style="background-image: url('{{ product.image.url }}');">
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </ul>
    <ul>
        {% if soldProducts %}
            <h2> Sold listings: </h2>
            {% for product in soldProducts %}
                <a href="/{{ product.id }}/">
                    <div class="product-preview" style="background-image: url('{{ product.image.url }}');">
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </ul>
    <ul>
        {% if boughtProducts %}
            <h2> Purchased listings: </h2>
            {% for product in boughtProducts %}
                <a href="/{{ product.id }}/">
                    <div class="product-preview" style="background-image: url('{{ product.image.url }}');">
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </ul>
    


</div>

{% endblock %}
