{% extends "base.html" %} {% block title %} Home {% endblock %} 
{% block content %}
<div class="listing-form-container">
    <form method="post" class="listing-form" action="/createlisting/" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Left Side: Form Fields -->
        <div class="listing-form-content">
            <label for="id_title">Title:</label>
            {{ form.title }}
            
            <label for="id_description">Description:</label>
            {{ form.description }}            
            
            <label for="id_price">Price:</label>
            {{ form.price }}
            
            <label for="id_category">Category:</label>
            {{ form.category }}

            <label for="id_image">Image:</label>
            {{ form.image }}

        </div>

        <div class="listing-form-preview">
            <img id="imagePreview" src="#" alt="Image Preview" style="display: none;">
            <button type="submit">Create Listing</button>
        </div>
    </form>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const imageInput = document.querySelector("#id_image");
        const imagePreview = document.querySelector("#imagePreview");
    
        imageInput.addEventListener("change", function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
    
                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = "block";
                };
    
                reader.readAsDataURL(file);
            } else {
                imagePreview.style.display = "none";
            }
        });
    });
    </script>

{% endblock %}