{% extends "base.html" %}

{% block content %}
<div class="product-container">
    <div class="product-details">
        <div class="product-image">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>

        <div class="product-info">
            <h1 class="product-title">{{ product.name }}</h1>

            <p class="description">{{ product.description }}</p>
            <p class="price">{{ product.price }} points</p>

            <p class="category"><strong>Category:</strong> {{ product.get_category_display }}</p>
            <p class="user"><strong>User:</strong> {{ product.user }}</p>

            <div class="product-actions">

                <a class="btn bgb-button" href="{% url 'buy' product.pk %}">Buy now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
