{% extends "base.html" %}

{% block content %}
<div class="product-container">
    <div class="product-details">
        <!-- Product Image on the left -->
        <div class="product-image">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>

        <!-- Product Info (Title, Description, Price, and Add to Cart) on the right -->
        <div class="product-info">
            <h1 class="product-title">{{ product.name }}</h1>

            <p class="description">{{ product.description }}</p>
            <p class="price">{{ product.price }} points</p>

            <!-- Add to Cart Button -->
            <div class="product-actions">
                <button class="btn btn-add-to-cart">Buy now</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
