{% extends "base.html" %} {% block title %} Report {% endblock %}
{% block content %}
<div class="custom-form-container">
    <form method="post" class="custom-form" action="" enctype ="multipart/form-data">
        {% csrf_token %}
        
        <div class="custom-form-entry">
            <label for="id_reason">Reason for Report:</label>
            {{ form.reason }}
        </div>

        <div class="custom-form-entry">
            <label for="id_description">Any further details:</label>
            {{ form.description }}
        </div>
        

        <div class="custom-form-entry">
            <button type="submit">Submit Report</button>
        </div>
    </form>
</div>
{% endblock %}
