*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: blanchedalmond;
    padding-bottom: 60px;
}

.hero{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #052204;

}
.logo{
    width: 50px;
    margin-left: 40px;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #125227;
    width: 600px;
    transition: 0.5s;
}

.search:focus-within{
    box-shadow: 0 0 8px rgb(28, 80, 23);
}

.search-icon{
    color: #90af8a;
}

.search-input{
    font-size: 16px;
    color: blanchedalmond;
    margin-left: 14px;
    font-weight: bolder;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

nav ul li a{
    text-decoration: none;
    font-weight: bolder;
    color:blanchedalmond;
}

.login-button{
    font-weight: 700;
    text-decoration: none;
    color: blanchedalmond;
    margin-right: 15px;
}

.login-button:hover{
    color: #fff;
}

.bgb-button{
    margin-right: 20px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 14px;
    color: blanchedalmond;
    background-image: linear-gradient(45deg, #052204,#70ad64);
    font-size: 20px;
    font-weight: bolder;
    border-radius: 30px;
    transition: 0.5s;
}

.bgb-button:hover{
    background-image: linear-gradient(45deg, #052204,#9be78b);
    color: rgb(255, 255, 255);
    transform: scale(0.90);
}

.homepage{
    margin-left: 40px;
    margin-top: 10%;
    max-width: 800px;
}

.homepage h1{
    font-size: 140px;
    font-weight: bolder;
    color: #052204;
}

.homepage p{
    font-weight: bolder;
    color: #052204;
    margin: 10px 0 30px;
}

.homepage-img{
    width:530px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.animated{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.custom-form label{
    font-weight: bold;
    font-size: larger;
    color: #bafdb8;
}

.custom-form-container {
    background: #1b4d3e;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin:auto;
    width: 500px;
    align-self: center;
    margin-top: 5%;
    color: #90af8a;
    font-weight: bold;
}

.custom-form-container div{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-form-container li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    list-style: none;
}

.custom-form-container h2 {
    color: blanchedalmond;
    font-size: 24px;
    margin-bottom: 20px;
}

.custom-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background: blanchedalmond;
    text-align: center;
    font-weight: bold;
    color: #052204;
}

.custom-form input:focus {
    outline: 2px solid #b2dfdb;
}

.custom-form button {
    background: #2d6a4f;
    color: blanchedalmond;
    font-weight: bold;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-form button:hover {
    background: #155734;
    color: white;
}

.custom-form p {
    margin-top: 15px;
    color: blanchedalmond;
    font-weight: bold;
    font-size: small;
}

.custom-form a {
    display: inline-block;
    text-decoration: none;
    color: blanchedalmond;
    background-color: #2d6a4f;
    font-weight: bolder;
    border-radius: 8px;
    padding: 10px 8px;
    transition: 0.3s;
}


.custom-form a:hover {
    background-color: #155734;
    color: white;
}

.custom-form input:-webkit-autofill,
.custom-form input:-webkit-autofill:hover,
.custom-form input:-webkit-autofill:focus,
.custom-form input:-webkit-autofill:active {
    background: blanchedalmond !important;
    -webkit-box-shadow: 0 0 0px 1000px blanchedalmond inset !important;
    -webkit-text-fill-color: #052204 !important;
}
.product-preview {
    width: 250px;
    height: 300px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.product-preview:hover{
    transform: scale(1.02);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Creates a responsive grid */
    gap: 10px; /* Adds spacing between grid items */
    justify-content: center;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: space-between; /* Aligns items to the left and right */
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    background-color: #052204;
    font-size: 16px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}