{% extends "loginBase.html" %}
{% block title %}Create an account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="custom-form-container">
        <form method="POST" class="custom-form">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            {{ form|crispy }}

            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
{% endblock %}
