{% extends 'loginBase.html' %}
{% block content %}
<div class="terms-container">
    <h2>Data Policy for Glapped</h2>

    <h3>Information we store about you:</h3>

    <p><strong>1. Personal information</strong></p>
    <ul>
        <li>We store your username alongside the contact details you provide.</li>
        <li>We store any pictures uploaded with a listing.</li>
        <li>Your location is accessed (but not stored) to verify your presence for item exchanges.</li>
    </ul>

    <p><strong>2. Information created through use</strong></p>
    <ul>
        <li>Generated points and levels of emissions.</li>
        <li>Messages created within the messaging system.</li>
    </ul>

    <h3>How we use this data:</h3>
    <p>
        Identifying data, used to identify a user, is stored for the duration your account remains open. This data enables transactions:
    </p>
    <ul>
        <li>Your username is shown publicly on listings, chat features, and your account page, and is required for login.</li>
        <li>Your uploaded images are shown with listings for clarity of the item being traded.</li>
        <li>Your location is accessed to verify your proximity to the university campus for item exchanges, but it is never stored.</li>
    </ul>

    <p>
        Data generated through use will remain stored as long as your account is active. This includes your emissions data and messages:
    </p>
    <ul>
        <li>User emissions data is publicly available as part of the gamification leaderboard.</li>
        <li>Messages are stored to facilitate communication with other users.</li>
    </ul>

    <p>
        Site moderation may access and remove data as needed, including listings and chat logs upon reports. Moderation actions are logged in a separate database.
    </p>

    <h3>Removing data:</h3>
    <p>
        To request data removal, please contact the site's administrators at admin@glapped.store
    </p>
</div>
{% endblock %}
